@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
  /* overflow-x: hidden; */
}

html{
  /* overflow-x: hidden; */
}


.shadow-image{
    filter: drop-shadow(0 0 4px #fdc700);
}

.banner-container {
   background: radial-gradient(#fdc60021, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  animation: radial-g 1s backwards ease;
}

@keyframes radial-g{
  from { 
    background-size: 150% 150%;
  }
  to { 
    background-size: 100% 100%;
  }
}